/* @import "bootstrap.css"; */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

@media screen and (max-width: 700px) {
  header {
    text-align: left !important;
  }
  .navbar,
  nav {
    width: 100% !important;
    height: 100% !important;
    z-index: 10;
    display: block !important;
    padding-top: 15px;
  }

  nav li {
    display: block !important;
    margin: 25px;
    padding: 10px;
    text-align: left;
    border-top: 1px solid #e26700;
  }

  nav li a:hover {
    border: none !important;
  }

  .mobileMenu {
    float: right;
    margin: 25px;
    margin-top: 100px;
  }

  .fa {
    font-size: 40px !important;
    color: #464646;
  }
}

@media screen and (min-width: 701px) {
  .mobileMenu {
    display: none;
  }
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-size: 14px;
  color: #646464;
  background-color: #ffffff;
  overflow: auto;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Bungee Inline", sans-serif;
}

header {
  margin: 0;
}

.logo {
  display: block;
  margin: 25px;
}

.logo img {
  width: 30%;
  max-height: 350px;
  clear: both;
  object-fit: contain;
}

.navbar {
  display: block;
}

nav {
  background-color: #333333;
  color: #ffffff;
  height: 50px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  text-align: center;
}
nav li {
  list-style: none;
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}
nav a:hover {
  color: #e26700 !important;
  border-top: 1px solid #e26700;
  padding: 3px;
  text-decoration: none;
}

nav a:active {
  color: #e26700 !important;
  border-top: 1px solid #e26700;
  padding-top: 3px;
  text-decoration: none;
}

nav a:visited {
  color: #ffffff;
  text-decoration: none;
}

.site-body {
  width: 100%;
  background-color: #464646;
  margin-top: -5px;
  padding-top: 2em;
}

.content {
  width: 80%;
  margin: 0px auto;
  background-color: #fff;
  padding: 2%;
}

.postTitle a {
  color: #e26700;
  text-decoration: none;
  font-size: 2em;
}

.postInfo {
  font-size: 1em;
  font-weight: bold;
}

hr {
  border-top: 1px solid #e26700;
  border-bottom: 0px;
  width: 50%;
  margin-left: 0;
}

img {
  max-width: 400px;
}

a {
  color: #c42c00;
  text-decoration: none;
}

a:hover {
  color: #e26700;
  text-decoration: underline;
}

footer {
  background-color: #c42c00;
  color: #ffffff;
  height: 50px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
footer {
  text-align: center;
}

img[src*="#float-left"] {
  text-align: left;
}